nav.navbar.sticky-top.navbar-light.bg-light
  a.navbar-brand(href="/") 
    i.fa.fa-map-marker(aria-hidden="true") 
    | 
    | Manejo de Propiedades
  a.btn.btn-outline-success(href="/propiedades/nueva") Agregar propiedad